body
{
    font-family: 'PT Sans Narrow', 'Arial' , sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;

    min-width: 960px;
    margin: 0 auto;

    text-transform: uppercase;

    color: #fff;
    background: #000 url('../img/barbershop-index/background-index.jpg') no-repeat center top;
}
.page-header__wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.page-header
{
    background-color: #000;
}
.main-nav
{
    float: left;

    width: 780px;
}
.main-nav ul
{
    font-size: 0;

    margin: 0;
    padding: 0;

    list-style: none;
}
.main-nav li
{
    font-size: 16px;
    line-height: 20px;

    display: inline-block;

    vertical-align: top;
}
.main-nav a
{
    display: block;

    padding: 25px 20px;

    text-decoration: none;

    color: #fff;
}
.main-nav a:hover
{
    background: #242424;
}
.main-nav__user-block
{
    float: right;

    max-width: 140px;
}
.main-nav__login
{
    font-size: 16px;
    line-height: 20px;

    position: relative;

    display: inline-block;

    padding: 25px 20px;
    padding-left: 50px;

    text-decoration: none;

    color: #fff;
}
.main-nav__login:hover
{
    background-color: #242424;
}
.main-nav__login::before
{
    position: absolute;
    top: 28px;
    left: 20px;

    width: 18px;
    height: 18px;

    content: '';

    opacity: .3;
    background: url('../img/barbershop-index/sprite.png') no-repeat;
    background-position: -15px -15px;
}
.main-nav__login:hover::before
{
    opacity: 1;
}
.clearfix::after
{
    display: table;
    clear: both;

    content: '';
}
.main
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.page-header
{
    margin-bottom: 55px;
}
.main__logo
{
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: -10px;
    
}
.main__logo
{
    width: 368px;
    height: 204px;
}
.features ul,
.features li
{
    margin: 0;
    margin: 0;
    padding: 0;
    padding: 0;
}
.features__item
{
    float: left;

    width: 300px;
    margin: 0;
    margin-right: 20px;
    padding: 0;

    list-style-type: none;

    text-align: center;
}
.features__item-title
{
    font-size: 30px;
    line-height: 42px;

    position: relative;

    display: block;

    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    padding: 35px;
}
.features__item-title::after
{
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-left: -10px;

    content: '';
    transform: rotate(45deg);

    background-color: #fff;
}
.features__item:last-child
{
    margin-top: 0;
}
.features
{
    margin-bottom: 80px;
}

.index-content
{
    margin-bottom: 35px;
    padding: 50px 80px;

    color: #000;
    background: url('../img/barbershop-index/block-shadow-hr.png') no-repeat center,
    #f8f5f2 url('../img/barbershop-index/back-block-index.png');
}
.index-content__left
{
    float: left;

    width: 380px;
}
.index-content__right
{
    float: right;

    width: 300px;
}
.main-footer
{
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 40px;
}
.main-footer__contacts
{
    float: left;

    width: 320px;
    margin-right: 60px;
}
.main-footer__social
{
    float: left;

    width: 180px;
}
.main-footer__copyright
{
    float: right;

    width: 180px;
}
.main-footer__wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.product__title
{
    margin: 0;
    margin-bottom: 24px;
}
.breadcrumb
{
    margin-bottom: 55px;
}
.product__container
{
    float: left;

    width: 460px;
    margin-right: 90px;
}
.product__info
{
    float: right;

    width: 390px;
}
.product__block
{
    padding-top: 55px;
    padding-bottom: 50px;

    background-color: green;
}
.product__list ul
{
    margin: 0;
    padding: 0;
}
.price-title
{
    padding-top: 55px;
    padding-bottom: 30px;
}
.features-content__left
{
    float: left;

    width: 380px;
}
.features-content__right
{
    float: right;

    width: 460px;
}
.features-content__advantages
{
    width: 380px;
}
.features-price
{
    margin-top: 70px;
    padding-bottom: 80px;
}
.features-content__left-title
{
    margin-bottom: 40px;
}
.features-content-items
{
    margin-bottom: 65px;
}
.about-us__title
{
    margin-bottom: 35px;
}
.features-price__table-title
{
    margin-bottom: 40px;
}
.features-price__table
{
    margin-bottom: 120px;
}
.container
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.container .breadcrumbs
{
    margin-bottom: 55px;
}
.page-title
{
    margin-bottom: 25px;
}
.filters
{
    float: left;

    width: 220px;
}
.goods-catalog
{
    float: right;

    width: 700px;
}
.goods-card
{
    display: inline-block;

    margin-right: 15px;
    margin-bottom: 20px;
}
.goods-card2
{
    margin-right: 0;
}
.filters-title
{
    padding-bottom: 30px;
}
.pages
{
    margin-top: 15px;
}


.index-content__title
{
    font-size: 30px;
    line-height: 42px;

    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}
.index-content p
{
    margin: 0;
    margin-bottom: 25px;
}
.index-content__news-items
{
    margin: 0;
    padding: 0;
    padding-right: 35px;

    list-style: none;
}
.index-content__news-items li
{
    margin-bottom: 25px;
}
.index-content__news-items p
{
    margin-bottom: 0;
}
.index-content__news-item time
{
    font-weight: 400;

    text-transform: none;
}
.btn
{
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;

    display: inline-block;

    margin-right: 16px;
    padding: 10px 33px;

    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    color: #fff;
    border: none;
    outline: none;
    background-color: #000;
}
.btn:hover,
.btn:active
{
    background-color: #663d15;
}
.btn.disabled,
.btn:disabled
{
    cursor: default;

    opacity: .5;
}
.gallery
{
    position: relative;

    height: 260px;
}
.gallery__content
{
    height: 164px;
    margin: 0;

    border: 7px solid #fff;
    background-color: #ccc;
}
.gallery__content img
{
    width: 286;
    height: 164;
}
.gallery .btn
{
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}
.gallery__prev
{
    left: 0;
}
.gallery__next
{
    right: 0;
}
.appointment-form input
{
    font: inherit;

    float: left;

    width: 106px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px 15px;

    text-transform: inherit;

    color: inherit;
    border: 2px solid #000;
    outline: none;
    background-color: #f9f6f3;
}
.appointment-form input:nth-child(2n)
{
    margin-right: 0;
}
.appointment-form .btn
{
    clear: both;

    width: 100%;
}
.appointment-form input:focus
{
    border: 2px solid #663d15;
}
.main-footer
{
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;

    color: #fff;
    background: #252525 url('../img/barbershop-index/back-footer-index.png');
}

.footer-contacts
{
    float: left;

    width: 320px;
    margin-right: 60px;
}

.footer-contacts a
{
    color: #fff;
}

.footer-contacts a:hover
{
    text-decoration: none;
}

.footer-social
{
    float: left;

    width: 180px;

    text-align: center;
}

.footer-social p
{
    margin: 0;
    margin-bottom: 15px;
}

.social-btn
{
    font-size: 0;

    display: inline-block;

    width: 43px;
    height: 43px;
    margin: 0 2px;

    -webkit-transition: background-position .5s,
    background-color .5s;
            transition: background-position .5s,
    background-color .5s;
    vertical-align: top;
    text-decoration: none;

    background: #000 url('../img/barbershop-index/sprite.png') no-repeat center;
}

.social-btn:hover
{
    background-color: #fff;
}

.social-btn-vk
{
    background-position: -7px -388px;
}

.social-btn-fb
{
    background-position: 0 -185px;
}

.social-btn-inst
{
    background-position: -3px -288px;
}

.social-btn-vk:hover
{
    background-position: -7px -434px;
}

.social-btn-fb:hover
{
    background-position: 0 -237px;
}

.social-btn-inst:hover
{
    background-position: -3px -339px;
}

.footer-copyright
{
    float: right;

    max-width: 180px;
}

.footer-copyright p
{
    margin: 0;
    margin-bottom: 15px;

    text-align: center;
}

.footer-copyright .btn
{
    margin-right: 0;
}

.footer-copyright .btn:hover
{
    color: #000;
    background-color: #fff;
}
